# Dependencies
node_modules/
*/node_modules/

# Environment Variables
.env
*/.env
*.env.local

# Build outputs
dist/
client/dist/
build/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
